<div ng-include="'components/navbar/navbar.html'"></div>
<div class="col-md-12">


  <div class="btn-group" role="group">

  <ui-select ng-model="service.selected" ng-disabled="disabled" style="width: 300px;">
    <ui-select-match placeholder="Select a service">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="service in services| filter: $select.search">
      <span ng-bind-html="service | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>

  End Time:
  <input class="form-control" max-view="date" min-view="date" date-time ng-model="end" format='yyyy-MM-dd' style="width: 300px;">

  <input class="form-control" style="width: 300px;">
  Limit:
  <input class="form-control" style="width: 300px;">


  <button class="form-control" style="width: 300px;">
    Find Traces
  </button>

  <input class="form-control" placeholder='Annotations Query (e.g. "finagle.timeout", "http.uri=/foo/bar/ and cluster=foo and cache.miss")'>


  </div>
</div>
